*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#07152c;
overflow-x:hidden;
}

.login-container{
display:flex;
min-height:100vh;
background:
radial-gradient(circle at top left,#1d4ed855 0%,transparent 40%),
radial-gradient(circle at bottom right,#00bfff33 0%,transparent 35%),
linear-gradient(135deg,#081c3a,#102f57,#07152c);
}

/* LEFT PANEL */

.left-panel{
width:50%;
display:flex;
flex-direction:column;
justify-content:center;
padding-top:80px;
padding-bottom:80px;
align-items:center;
padding:60px;
position:relative;
overflow:hidden;
}

.background-glow{
position:absolute;
width:550px;
height:550px;
background:#00bfff22;
border-radius:50%;
filter:blur(120px);
animation:floatGlow 8s ease-in-out infinite;
}
.logo-box{
    margin-top:40px;
    margin-bottom:35px;
    z-index:2;
}

.logo-image{
width:180px;
animation:floatLogo 5s ease-in-out infinite;
}

.brand-title{
margin-top:25px;
font-size:64px;
letter-spacing:6px;
color:#fff;
font-weight:800;
z-index:2;
}

.brand-tagline{
margin-top:20px;
font-size:24px;
font-weight:300;
line-height:1.6;
text-align:center;
color:#d7ebff;
z-index:2;
}

.divider{
width:220px;
height:1px;
background:rgba(255,255,255,.2);
margin:30px 0;
z-index:2;
}
  
.word-slider{
display:flex;
justify-content:center;
align-items:center;
margin:20px 0;
z-index:2;
}

.animated-word{

padding:12px 30px;

font-size:36 px;

font-weight:700;

color:#38bdf8;

background:rgba(255,255,255,.08);

border:1px solid rgba(255,255,255,.15);

border-radius:50px;

backdrop-filter:blur(20px);

box-shadow:0 10px 25px rgba(0,0,0,.2);

text-shadow:0 0 25px rgba(0,191,255,.6);

animation:
fadeWord 2.5s infinite,
pulseGlow 2.5s infinite;

transition:.3s;

}

.brand-message{
margin-top:20px;
font-size:22px;
text-align:center;
color:white;
line-height:1.8;
z-index:2;
}

.trust-badges{
display:flex;
gap:15px;
margin-top:35px;
flex-wrap:wrap;
justify-content:center;
z-index:2;
}

.trust-badges span{
padding:12px 22px;
border-radius:40px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.15);
color:white;
transition:.3s;
}

.trust-badges span:hover{
background:#19b7ff;
transform:translateY(-4px);
}
/* RIGHT PANEL */

.right-panel{
width:50%;
display:flex;
justify-content:center;
align-items:center;
padding:50px;
}

.login-card{
width:100%;
max-width:430px;
padding:45px;
border-radius:25px;
background:rgba(255,255,255,.10);
backdrop-filter:blur(25px);
border:1px solid rgba(255,255,255,.12);
box-shadow:0 25px 50px rgba(0,0,0,.35);
}

.login-header{
text-align:center;
margin-bottom:45px;
}

.login-header h2{
font-size:36px;
color:white;
margin-bottom:10px;
}

.login-header p{
color:#d7e6ff;
line-height:1.6;
}

.login-header strong{
color:#38bdf8;
}

.input-box{
display:flex;
align-items:center;
margin-bottom:20px;
padding:15px 18px;
border-radius:15px;
background:rgba(255,255,255,.06);
border:1px solid rgba(255,255,255,.08);
}

.input-icon{
font-size:22px;
color:#38bdf8;
margin-right:12px;
}

.input-box input{
width:100%;
background:transparent;
border:none;
outline:none;
color:white;
font-size:16px;
}

.input-box input::placeholder{
color:#bcd8ff;
}

.eye-icon{
cursor:pointer;
font-size:22px;
color:white;
}

.login-btn,
.google-btn,
.phone-btn,
.register-btn{

width:100%;
padding:15px;
border:none;
border-radius:14px;
margin-top:15px;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:.3s;

}
 .login-btn{

background:linear-gradient(
90deg,
#19b7ff,
#2563eb
);

color:white;

}
.login-btn:hover{
    transform:translateY(-4px) scale(1.02);

box-shadow:0 20px 40px rgba(0,191,255,.45);

}

.google-btn{

background:white;
color:#222;

}

.phone-btn{

background:#1b4fd8;
color:white;

}

.register-btn{

background:transparent;
color:white;
border:1px solid rgba(255,255,255,.2);

}

.register-btn:hover{

background:rgba(255,255,255,.08);

}

.forgot-password{

margin-top:22px;
text-align:center;
color:#38bdf8;
cursor:pointer;

}

.forgot-password:hover{

text-decoration:underline;

}

/* ANIMATIONS */

@keyframes floatLogo{

0%{transform:translateY(0px);}
50%{transform:translateY(-12px);}
100%{transform:translateY(0px);}

}

@keyframes floatGlow{

0%{transform:translate(0,0);}
50%{transform:translate(25px,-20px);}
100%{transform:translate(0,0);}

}

@keyframes fadeWord{

0%{
opacity:0;
transform:translateY(15px);
}

20%{
opacity:1;
transform:translateY(0);
}

80%{
opacity:1;
}

100%{
opacity:0;
transform:translateY(-15px);
}

}
@keyframes pulseGlow{

0%{
box-shadow:0 0 12px rgba(0,191,255,.25);
}

50%{
box-shadow:0 0 35px rgba(0,191,255,.6);
}

100%{
box-shadow:0 0 12px rgba(0,191,255,.25);
}

}
/* MOBILE */

@media(max-width:992px){

.login-container{

flex-direction:column;

}

.left-panel,
.right-panel{

width:100%;

}

.left-panel{

padding:40px 25px;

}
.brand-title{

font-size:72px;
letter-spacing:8px;
}

.brand-tagline{

font-size:20px;

}

.animated-word{

font-size:34px;

}

.login-card{

padding:30px;

}

}